<app-target-login-badge></app-target-login-badge>
<div class="header-block">
    <div class="coin-select-block">
        <app-coin-switcher (onChange)="onCurrentCoinChange($event)"></app-coin-switcher>
    </div>
</div>

<nz-table nzBordered nzTemplateMode [nzLoading]="isPayoutsLoading">
    <thead>
        <tr>
            <th>
                {{ "common.dictionary.date" | translate }}
            </th>
            <th>txid</th>
            <th>
                {{ "common.dictionary.amount" | translate }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payout of payouts" (click)="onTxClick(payout)">
            <td>{{ payout.time * 1000 | date: "dd MMM HH:mm" | async }}</td>
            <td>{{ truncate(payout.txid) }}</td>
            <td>{{ payout.value }}</td>
        </tr>
    </tbody>
</nz-table>
