
<nz-table class="users-table" *ngIf="isReady" nzBordered  [nzTemplateMode]="true">
<thead>
    <tr>
        <th *ngFor="let title of usersKeys" >
            {{ "users.usersTable.title." + title | translate }}
        </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of users" (click)="onUserClick(item)" [class._selected]="item.name === targetLogin"  style="word-break: break-all;">
        <td *ngFor="let key of usersKeys">
            <ng-container *ngTemplateOutlet="
            usersDataTemplate;
                    context: {
                        key: key,
                        value: item                        
                    }
                "></ng-container>
        </td>
    </tr>
</tbody>
</nz-table>

<nz-table class="users-table-mobile _table-mobile" *ngIf="isReady" nzBordered  [nzTemplateMode]="true">
<thead>
    <tr>
        <th *ngFor="let title of usersMKeys" >
            {{ "users.usersTable.title." + title | translate }}
        </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of users" (click)="onUserClick(item)" [class._selected]="item.name === targetLogin"  style="word-break: break-all;">
        <td *ngFor="let key of usersMKeys">
            <ng-container *ngTemplateOutlet="
            usersDataTemplate;
                    context: {
                        key: key,
                        value: item                        
                    }
                "></ng-container>
        </td>
    </tr>
</tbody>
</nz-table>


<ng-template #usersDataTemplate let-key="key" let-value="value">
    <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchCase="'loginM'">
            {{ value.login }}
    </ng-container>
    <ng-container *ngSwitchCase="'login'">
            {{ value.login }} / {{ value.name }}
    </ng-container>
    <ng-container *ngSwitchCase="'registrationDate'">
        {{
            value[key] * 1000
                | date: "dd.MM.yy HH:mm"
                | async
        }}
    </ng-container>
    <ng-container *ngSwitchCase="'shareRate'">
        {{ value[key] | suffixify: ESuffix.ShareRate }}
    </ng-container>
    <ng-container *ngSwitchCase="'power'">
        {{ value[key] 
                | metricPrefixify: powerMultLog10
                | toFixed
                | suffixify: ESuffix.Power
        }}
    </ng-container>
    <ng-container *ngSwitchCase="'lastShareTime'">
        <div *ngIf="value.longAgo">
            {{ "users.longAgo" | translate }}
        </div>
        <div *ngIf="!value.longAgo">
            {{ value[key] | ago | async }}
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
            <span>
                {{ value[key] }}
            </span>
        </ng-container>
    </ng-container>
</ng-template>



