<div class="main">
    <div class="info">
        <div class="users-table">
            <nz-table 
            nzBordered 
            nzTemplateMode 
            #rowSelectionTable
            nzBordered 
            [nzTemplateMode]="true" 
            [nzPageSize]="30"
            [nzPageIndex]="1"
            nzPaginationPosition='both'
            nzShowPagination
            [nzData]="users"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
            <thead>
                <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" style="padding: 3px 4px 0px; text-align: center;">{{ column.title }}</th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of rowSelectionTable.data">
                    <td style="text-align: center;"> {{ user.login }} / {{ user.name }}</td>
                    <td style="text-align: center;"> {{ user.email }}</td>
                    <td style="text-align: center;"> {{
                        user.registrationDate * 1000
                            | date: "dd.MM.yy HH:mm"
                            | async
                    }}</td>
                    <td style="text-align: center;"> {{ user.workers }} </td>
                    <td style="text-align: center;"> {{ user.ShareRate | suffixify: ESuffix.ShareRate }}</td>
                    <td style="text-align: center;"> {{ user.power 
                        | metricPrefixify: powerMultLog10
                        | toFixed
                        | suffixify: ESuffix.Power
                        }}</td>
                    <td style="text-align: center;">    
                        <div *ngIf="user.longAgo">
                            {{ "users.longAgo" | translate }}
                        </div>
                        <div *ngIf="!user.longAgo">
                            {{ user.lastShareTime | ago | async }}
                        </div> 
                    </td>
                </tr>
            </tbody>
        </nz-table>
        </div>
        <div class="users-table-mobile">
            <nz-table 
            nzBordered 
            nzTemplateMode 
            #mrowSelectionTable
            nzBordered 
            [nzTemplateMode]="true" 
            [nzPageSize]="30"
            [nzPageIndex]="1"
            nzPaginationPosition='both'
            nzShowPagination
            [nzData]="users"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
            <thead>
                <tr>
                    <th *ngFor="let column of listOfMColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" style="padding: 3px 4px 0px; text-align: center;">{{ column.title }}</th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of mrowSelectionTable.data">
                    <td style="text-align: center;"> {{ user.login }}</td>
                    <td style="text-align: center;"> {{ user.workers }} </td>
                    <td style="text-align: center;"> {{ user.power 
                        | metricPrefixify: powerMultLog10
                        | toFixed
                        | suffixify: ESuffix.Power
                        }}</td>
                    <td style="text-align: center;">    
                        <div *ngIf="user.longAgo">
                            {{ "users.longAgo" | translate }}
                        </div>
                        <div *ngIf="!user.longAgo">
                            {{ user.lastShareTime | ago | async }}
                        </div> 
                    </td>
                </tr>
            </tbody>
        </nz-table>

        </div>
    </div>
</div>
