
<nz-table class="header-block" nzBordered  nzTemplateMode [nzShowPagination]="false" [nzScroll]="{x:'200%'}">
    <thead>
        <tr >
            <th >
                {{ "common.login" | translate }}<br>{{ "common.name" | translate }}
            </th>
            <th>{{ "common.email" | translate }}</th>
            <th>{{ "common.registrationDate" | translate }}</th>
            <th>{{ "common.dictionary.workers" | translate }}</th>
            <th>{{ "common.dictionary.shareRate" | translate }}</th>
            <th>{{ "common.dictionary.power" | translate }}</th>
            <th>{{ "common.dictionary.lastSeen" | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let user of users"
            [class._selected]="user.name === targetLogin"
            (click)="onUserClick(user)"
            
        >
            <td>{{ user.login }}<br>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                {{
                    user.registrationDate * 1000
                        | date: "dd.MM.yy HH:mm"
                        | async
                }}
            </td>
            <td>{{ user.workers }}</td>
            <td>{{ user.shareRate | suffixify: ESuffix.ShareRate }}</td>
            <td>
                {{
                    user.power
                        | metricPrefixify: powerMultLog10
                        | toFixed
                        | suffixify: ESuffix.Power
                }}
            </td>
            <td>
                {{ user.lastShareTime | ago | async }}
            </td>
        </tr>
    </tbody>
</nz-table>




