<div style="font-size: 12px; ">
            <thead style="text-align: center;">
                <span style="padding: 2px; text-align: center; font-size: 20px; font-weight: bold;">
                    ZuluPool
                    <span style="padding: 2px; text-align: center; font-size: 12px; font-weight:lighter">
                        GUI v1.03b
                    </span>
                </span>
            </thead>
        <tbody>
        </tbody>
</div>

<div style="font-size: 9px; padding: 0Px,0px,0px; ">
    Your access and use of the Services constitutes your agreement to be bound by these
    <a class="help-link" [routerLink]="EAppRoutes.Terms">
    Trems
</a>

<!--    and
    <a nzType="link" href="policy">Policy</a>
-->

</div>