<app-target-login-badge style="padding-bottom: 5px;" (onTargetChange)=changeTarget($event)></app-target-login-badge>


<nz-tabset #tabGroup>
    <nz-tab [nzTitle]="'settings.tab.payment' | translate" >
        <ng-template nz-tab>
            <div class="coin-select-block">
                <app-coin-switcher (onChange)="onCurrentCoinChange($event)"></app-coin-switcher>
            </div>
        <form class="settings-form" nz-form nzLayout="vertical" [formGroup]="form" (submit)="save()">
                <nz-form-item>
                    <nz-form-label nzFor="address">
                        {{ "settings.form.address" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="address" id="address" />
                    </nz-form-control>
                </nz-form-item>
            
                <nz-form-item>
            
                    <nz-form-label nzFor="payoutThreshold">
                        {{ "settings.form.payoutThreshold" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="payoutThreshold" id="payoutThreshold" />
                    </nz-form-control>
                </nz-form-item>
            
                <nz-form-item>
                    <nz-form-label nzFor="autoPayoutEnabled">
                        <nz-switch [formControl]="form.get('autoPayoutEnabled')"></nz-switch>
                        <span class="autoPayoutLabel">
                            {{ "settings.form.autoPayoutEnabled" | translate }}
                        </span>
                    </nz-form-label>
                </nz-form-item>
                        
                <button [disabled]="isDisabled" nz-button nzType="primary" [nzLoading]="isSubmitting">
                    {{ "common.save" | translate }}
                </button>
            </form>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="'settings.tab.account' | translate" >
        <ng-template nz-tab>

            <form class="settings-form" nz-form nzLayout="vertical" [formGroup]="formMail.formData" (submit)="saveUserMail()">
                <nz-form-item>
                    <nz-form-label nzFor="email">{{ "common.email" | translate }} </nz-form-label>
                    <nz-form-control>
                        <!-- <input formControlName="email" nz-input id="email"/>--> {{ email }}
                        <button disabled nz-button nzType="primary" >{{ "common.save" | translate }}</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
            <form class="settings-form" nz-form nzLayout="vertical" [formGroup]="form2FA.formData" (submit)="saveUser2FA()">
                <nz-form-item>
                    <nz-form-label nzFor="faKey">{{ "2FA key"}} 
                        <span style="font-weight: bold;"> &nbsp; {{ 'generate' }}</span>
                        <span style="font-weight: bold;"> &nbsp; {{ 'Show QR' }}</span>
                    </nz-form-label>
                    <nz-form-control>
                        <!--<input formControlName="faKey" nz-input id="faKey"/>--> {{ ' key2fa ' }}
                        <button  disabled nz-button nzType="primary" >{{ "common.save" | translate }}</button>
                    </nz-form-control>
                </nz-form-item>
            </form>


            <form class="settings-form"
            nz-form
            nzLayout="vertical"
            [formGroup]="formUser.formData"
            (submit)="saveUserData()"
            >
            <nz-form-item>
                <span style="font-weight: bold;">
                    {{ "settings.form.registrationDate" | translate }}
                </span>
                {{
                            regDate * 1000
                                | date: "dd.MM.yy HH:mm"
                                | async
                        }}
            </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="name" (click)="genName()">
                        <span style="font-weight: bold;">
                            {{ "settings.form.publicName" | translate }} &nbsp; {{ 'generate' }}
                        </span>
                    </nz-form-label>
                    <nz-form-control >
                        <input nz-input formControlName="name" id="name" />
                    </nz-form-control>
                    <button nz-button nzType="primary" >{{ "common.save" | translate }}</button>
                </nz-form-item>
                        
            </form>
            
        </ng-template>
    </nz-tab>

</nz-tabset>

<div style="display: inline-table;" >
<nz-alert *ngIf="tabGroup.selectedIndex==0 && isNeedAddressInfoWarning" nzType="warning" 
[nzMessage]="'settings.addressesFormats'| translate: {coin: currentCoin}"
[nzDescription]="addrFormats"
></nz-alert>
</div>































